[alias]
	pullpush = !git pull upstream master && git push origin master
	unstage = reset HEAD --
[branch]
	autosetupmerge = true
	sort = committerdate
[color]
	ui = auto
[commit]
	gpgsign = true
	template = {{ .chezmoi.homeDir }}/{{ .etcpath }}/commit-messages/git-vanilla-message
	verbose = true
[core]
	autocrlf = input
	editor = nvim 
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[diff]
	algorithm = histogram
	tool = Kaleidoscope
[difftool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[filter "lfs"]
	clean = git-lfs clean %f
	required = true
	smudge = git-lfs smudge %f
[gpg]
  format = ssh
[gpg "ssh"]
    {{ if eq .chezmoi.os "darwin" -}}
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
    {{ else if eq .chezmoi.os "linux" -}}
    program = /opt/1Password/op-ssh-sign
    {{- end }} 
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[merge]
	conflictstyle = zdiff3
	tool = Kaleidoscope
[mergetool]
	keepBackup = true
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[pager]
	branch = false
	stash = false
[pull]
	ff = true
[push]
	autoSetupRemote = true
	default = current
[rebase]
	autosquash = true
	autostash = true
[rerere]
	enabled = true
[tag]
	forceSignAnnotated = true
[user]
	email = {{ .email }}
	name = Mark Anderson
    signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJRouhc5ge7J910RBhMyra4SUEa3gLCdbhlSEiD+V6gN Github Signing Key

