[user]
	name = Mark Anderson
	email = {{ .email }}
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	autocrlf = input
	editor = code --wait
[color]
	ui = auto
[alias]
	pullpush = !git pull upstream master && git push origin master
	unstage = reset HEAD --
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = true
[merge]
	tool = Kaleidoscope
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[branch]
	autosetupmerge = true
[tag]
	forceSignAnnotated = true
[pager]
	branch = false
	stash = false
[pull]
	ff = true
[commit]
	template = {{ .chezmoi.homeDir }}/{{ .etcpath }}/commit-messages/git-vanilla-message
