# Set this before oh-my-zsh to move zcompdump files
export ZSH_COMPDUMP={{ .chezmoi.homeDir }}/cache/zsh/.zcompdump-$HOST

# Path to your oh-my-zsh configuration.
ZSH={{ .chezmoi.homeDir }}/.oh-my-zsh

# Set name of the theme to load.
ZSH_THEME="robbyrussell"

# Tell ZSH where to look for custom plugins
ZSH_CUSTOM={{ .chezmoi.homeDir }}/{{ .libpath }}/zsh-custom

# Tell Oh-My-ZSH not to check, chezmoi will update
DISABLE_AUTO_UPDATE="true"

## Variables
# Port Installed Java Names: openjdk17-temurin
export JAVA_NAME=openjdk17-temurin
export JAVA_HOME="/Library/Java/JavaVirtualMachines/${JAVA_NAME}/Contents/Home"

export SSH_PUBLIC={{ .chezmoi.homeDir }}/.ssh/id_rsa.pub
export SSH_AUTH_SOCK={{ .chezmoi.homeDir }}/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh

export PATH='{{ includeTemplate "path-list" . | trim | splitList "\n" | join .chezmoi.pathListSeparator -}}'

export EDITOR='code --wait'

# Autoload all of our local functions
fpath=({{ .chezmoi.homeDir }}/{{ .libpath }}/zsh-custom $fpath)
autoload -- {{ .chezmoi.homeDir }}/{{ .libpath }}/zsh-custom/[^_]*(:t)

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
plugins=(git macos emer)

source $ZSH/oh-my-zsh.sh

# OPAM configuration
. {{ .chezmoi.homeDir }}/.opam/opam-init/init.zsh > /dev/null 2> /dev/null || true

# Cargo/Rustup Setup
source "{{ .chezmoi.homeDir }}/.cargo/env"

# GHC-UP configuration
[ -f "${GHCUP_INSTALL_BASE_PREFIX:={{ .chezmoi.homeDir }}}/.ghcup/env" ] && source "${GHCUP_INSTALL_BASE_PREFIX:={{ .chezmoi.homeDir }}}/.ghcup/env"

# iTerm2 Shell Integration for ZSH
if [ -e "{{ .chezmoi.homeDir }}/.iterm2_shell_integration.zsh" ]; then . "{{ .chezmoi.homeDir }}/.iterm2_shell_integration.zsh"; fi

# Powerline Shell
function powerline_precmd() {
    PS1="$(powerline-shell --shell zsh $?)"
}

function install_powerline_precmd() {
   for s in "${precmd_functions[@]}"; do
    if [ "$s" = "powerline_precmd" ]; then
      return
    fi
  done
  precmd_functions+=(powerline_precmd)
}

if [ "$TERM" != "linux" ]; then
    install_powerline_precmd
fi

# aliases
{{ template "darwin-aliases" . }}

# 1password shell plugins
source {{ .chezmoi.homeDir }}/.config/op/plugins.sh

# Setup Atuin
eval "$(atuin init zsh)"

# Setup Mise
eval "$(mise activate zsh)"

# nostromo [section begin]
# eval "$(nostromo completion)"
# nostromo [section end]
