{{ .chezmoi.homeDir }}/.cargo/bin
{{ .chezmoi.homeDir }}/.local/bin
{{ .optpath }}/bin
{{ .optpath }}/local/bin
{{ .optpath }}/local/libexec/gnubin
{{ .chezmoi.homeDir }}/Library/Android/sdk/platform-tools
{{ .apppath }}/calibre.app/Contents/MacOS/
{{ .usrlocal }}/share/dotnet
