{{ .chezmoi.homedir }}/.cargo/bin
{{ .chezmoi.homedir }}/.local/bin
{{ .optpath }}/bin
{{ .optpath }}/local/bin
{{ .optpath }}/local/libexec/gnubin
{{ .chezmoi.homedir }}/Library/Android/sdk/platform-tools
{{ .apppath }}/Racket/bin