function cdp() {
    portname=$1
    if [[ $portname == "" ]]; then
        echo "Provide a portname"
        return
    fi
    cd $(port dir ${portname})
}

function codep() {
    portname=$1
    if [[ $portname == "" ]]; then
        echo "Provide a portname"
        return
    fi
    /usr/local/bin/code $(port file ${portname})
}

function cenv() {
    case "$1" in
    print)
        echo "ARCH=$ARCH"
        echo "CC=$CC"
        echo "CXX=$CXX"
        echo "CFLAGS=$CFLAGS"
        echo "CPPFLAGS=$CPPFLAGS"
        echo "LDFLAGS=$LDFLAGS"
        echo "DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH"
        ;;
    unset)
        unset CC
        unset CXX
        unset CFLAGS
        unset CPPFLAGS
        unset LDFLAGS
        unset DYLD_LIBRARY_PATH
        ;;
    *)
        echo "Usage: $0 {print|unset}"
        ;;
    esac
}

function cpsshkey() {
    SSH_PUBLIC={{ .chezmoi.homeDir }}/.ssh/id_rsa.pub
    ssh $1 'cat >> .ssh/authorized_keys' < $SSH_PUBLIC
}

function macver() {
    echo "macOS $(sw_vers -productVersion) $(sw_vers -buildVersion)"
    echo "Xcode $(xcodebuild -version | awk '{print $NF}' | tr '\n' ' ')"
}

function xman() {
    case "$1" in
    pdf)
        man -t "$2" | open -f -a /Applications/Preview.app
        ;;
    text)
        MANWIDTH=160
        MANPAGER='col -bx'
        man $2 | bbedit -
        ;;
    *)
        echo "Usage: $0 {pdf|text}"
        ;;
    esac
}

function macname() {
	computerName=$1
	if [[ $computerName == "" ]]; then
        echo "ComputerName: $(scutil --get ComputerName)"
        echo "HostName: $(scutil --get HostName)"
        echo "LocalHostName $(scutil --get LocalHostName)"
        echo "NetBIOSName: $(defaults read /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName)"
    else
    	sudo scutil --set ComputerName "${computerName}"
		sudo scutil --set HostName "${computerName}"
		sudo scutil --set LocalHostName "${computerName}"
		sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName -string "${computerName}"
	fi
}
